<% @posts.each do |t| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= t.title %><br><br>
        &mdash; <strong><%= t.link %></strong> <%= t.created_at %>
      </div>
      <%= link_to 'Delete', t, :class => 'js-delete-btn btn btn-danger' %>
    </div>
<% end %>
<%= link_to 'New Post', 'posts/new', :class => 'btn btn-primary' %>